.vscode

lab_01_*_*

*/build
*/debug

*.exe
*.o

*.cflags
*.config
*.creator
*.user
*.cxxflags
*.files
*.includes

lab_52_2/test.sh
lab_52_2/build.sh
lab_52_2/tests/.temp

**.gcov
**.gcda
**.gcno
